/**
Prod
*/
prod.mdpSsh=groupeOVAJ
prod.userSsh=root
prod.hoteSsh=172.20.50.11
prod.mdpBdd=groupeOVAJ
prod.userBdd=root
prod.hoteBdd=172.20.50.11
prod.bddPort=3306
prod.svnPath=/var/svn


/**
Dev
*/
dev.mdpSsh=gotbet
dev.userSsh=gotbet
dev.hoteSsh=127.0.0.1
dev.mdpBdd=
dev.userBdd=root
dev.hoteBdd=127.0.0.1
dev.bddPort=3306
dev.svnPath=srv


dev.mode=true
