/**
Prod
*/
prod.mdpSsh=ovaj
prod.userSsh=ovaj
prod.hoteSsh=172.20.50.11
prod.mdpBdd=groupeOVAJ
prod.userBdd=root
prod.hoteBdd=172.20.50.11
prod.bddPort=3306
prod.svnPath=/home/svn


/**
Dev
*/
dev.mdpSsh=gotbet
dev.userSsh=gotbet
dev.hoteSsh=192.168.1.21
dev.mdpBdd=groupelucas
dev.userBdd=groupelucas
dev.hoteBdd=192.168.1.21
dev.bddPort=3306
dev.svnPath=srv
