prod.mdpSsh=groupelucas
prod.userSsh=root
prod.hoteSsh=192.168.43.221
prod.mdpBdd=groupelucas
prod.userBdd=groupelucas
prod.hoteBdd=192.168.43.221
prod.bddPort=3306
prod.svnPath=/home/svn



dev.mdpSsh=groupelucas
dev.userSsh=root
dev.hoteSsh=192.168.43.221
dev.mdpBdd=
dev.userBdd=root
dev.hoteBdd=127.0.0.1
dev.bddPort=3306
dev.svnPath=test
